body {
  margin: 0;
  font-family: 'Playfair Display', 'Lora', 'Georgia', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'Playfair Display', 'Lora', 'Georgia', serif;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2em;
}

* {
  font-family: 'Lora', 'Georgia', 'Times', serif;
  line-height: 1.5em;
}
p,
label {
  font-size: 18px;
}

code {
  font-family: 'Lora', 'Georgia', 'Times', serif, monospace;
}

